


  
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-4 col-md-offset-4" id="loginform" style="margin-top:5%"> 
    <form>
    <center><h2>Admin Login</h2></center>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="useremail" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="userpass" required>
        </div>

            <center>
            <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
             <a href="#/forgot">Forgot Password</a>
            </center>
            <br>
        
    </form>
    <!-- <a href="/addcontact.html">Dashboard</a> -->
</div>
  </div>
</div>




